/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: #6e6e6e;
    font-weight: 700;
}

.flex{
    display: flex;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

.icon, .icon-normal{
    width: 25px;
    height: auto;
    vertical-align: middle;
}

.icon{
    filter: invert(50%);
}

.white{
    color: white;
}

ul{
    list-style-type: none;
}

.separatore{
    width: 100%;
    height: 15px;
    border-bottom: 1px solid #6e6e6e;
    margin-bottom: 15px;
}

/* button */
.btn{
    display: inline-block;
}

.btn-big{
    font-size: 20px;
    border: 1px solid;
    border-radius: 30px;
    padding: 15px 40px;
}

.btn-white{
    color: white;
    border-color: white;
}

/* hover */
.white-hover:hover{
    color: white;
    cursor: pointer;
}

li:hover img, .user .white-hover:hover img{
    filter: none;
}

.playlist-menu li:hover div{
    background-color: white;
}

.underline-hover:hover{
    text-decoration: underline;
}

/* MAIN */
main{
    height: calc( 100vh - 100px );
    width: 100%;

    /* test */
    background-color: chocolate;
}

/* OVERLAY */
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: calc( 100% - 300px );
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 15px 0 0;
}

.overlay .btn{
    float: right;
}

.btn-white:hover{
    cursor: pointer;
    transform: scale(105%);
}

/* logo */
.logo{
    height: 100px;
    width: 80%;
    margin: auto;
}

/* nav-section */
.nav-section{
    height: 100%;
    width: 300px;
    float: left;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: black;
}
.search-menu{
    height: 170px;
}

.search-menu li{
    margin: 10px 0;
}

.playlist-menu{
    flex-grow: 1;
    overflow-y: auto;
    height: 200px;
}

.playlist-menu li{
    margin: 15px 0;
}

.playlist-menu li div{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: black;
    background-color: #6e6e6e;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
}

.playlist-menu .big-font{
    font-size: 20px;
}

.user{

    /* test */
    height: 90px;
}

.user .icon-normal{
    width: 25px;
}

.user .background{
   background-color: #6e6e6e;
   border-radius: 50%;

}

/* content */
.content{
    height: 100%;
    width: calc( 100% - 300px );
    float: left;
    overflow-y: auto;
    padding-top: 100px;

    /* test */
    background-color: red;
}

/* FOOTER */
footer{
    height: 100px;
    width: 100%;

    /* test */
    background-color: violet;
}

.footer-wrapper{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}


.name-song, .volume{
    width: 10%;
    height: 100%;
    padding: 20px 10px;
    align-items: center;
}

.name-song{
    
    justify-content: space-between;
    /* test */
    background-color: blue;
}

.durata-canzone{
    width: 50%;

    /* test */
    background-color: green;
    height: 100%;
}

.volume{

    /* test */
    background-color: yellow;
}

/* sezione sinistra */
.song-image-footer{
    margin-right: 10px;
}

.song-image-footer img{
    width: 50px;
    height: auto;
}

.song-info-footer{
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
}

.song-info-footer:last-child{
    font-size: 13px;
}

.name-song .icon-footer{
    margin: 0 10px;
}

.icon-footer-container{
    flex-wrap: wrap;
}
/* sezione centrale */

/* sezione destra */
